#navBarContainer {
	background-color: #2f363d;
    width: 100%; 
    height: 100px; 
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1; 
}

.navBar {
 padding: 20px; 
    display: flex; 
    justify-content: space-between; 
      
}

.logo img {
    width: 60px;   
}

.navBar .group {
    display: flex; 
    justify-content: left;    
    align-items: center;
}

.navItem {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex; 
    justify-content: space-between;  
    align-items: center; 
}

.navItemLink {
    color: #a0a0a0;
    padding: 0 10px 0 10px; 
    text-decoration: none;
}
.menu-trigger {
    display:none; 
    position: fixed;  
    right: 0; 
    top: 0; 
  }  
.navItemLink:hover {
    color: #ffffff;
}
.icon2 {
    width: 30px;
    padding:  40px 25px 0 0;   
} 
.icon {
    width: 25px;
    padding:  0 10px 0 30px;   
} 