#topContainer {
 min-height: 100%;
 width: 100%; 
}
#navBarContainer {
 background: #000;
 width: 220px;
 height: 100vh;
 position: fixed; 
 top: 0;
 left: 0;
}
.navBar {
 padding: 25px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
} 
.navBar .group {
 border-top: 1px solid #a0a0a0;
 padding: 10px 0;
}
.navItem {
 padding: 10px 0; 
 font-size: 16px;
 font-weight: 700;
 display: block;
 letter-spacing: 1px; 
} 
.navItemLink {
 color: #a0a0a0;
 text-decoration: none; 
}
.navItemLink:hover { 
 color: #ffffff; 
}
.logo {
 margin-bottom: 15px; 
}
.navItemLink .icon {
    width: 25px;
    height: 25px;    
 padding: 0 0 0 80px;  
}